@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Prosto+One&family=Ubuntu:wght@300;400;500&display=swap');

:root {
  --primary-color: #2CAFDC;
  --title-color: #121212;
  --text-color: #6C6C80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  font-family: Montserrat, Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}
